<header class="header flex-group">
  <img
    src="src/assets/svgs/logo.svg"
    alt="Photographer Talk Logo"
    class="header__logo"
  />
  <a class="header__nav-item important" href="/">Home</a>
  <a class="header__nav-item important" href="/blog/">Blog</a>
  <img
    src="src/assets/svgs/banner.svg"
    alt="Header banner"
    class="header__banner"
  />
</header>